<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxl.componentgallery">

    <application>
        <activity
            android:name=".components.loading.LoadingActivity"
            android:exported="true" />
        <activity
            android:name=".components.elemelist.ElemeListActivity1"
            android:exported="true" />
        <activity
            android:name=".components.elemelist.ElemeListActivity"
            android:exported="true" />
        <activity
            android:name=".components.morefunctions.MoreFunctionsActivity"
            android:exported="true" />
        <activity
            android:name=".components.like.LikeButtonActivity"
            android:exported="true" />
        <activity
            android:name=".components.skeleton.SkeletonActivity"
            android:exported="true" />
        <activity
            android:name=".components.skeleton.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".components.skeleton.StatusViewActivity"
            android:exported="true" />
        <activity
            android:name=".components.skeleton.ViewActivity"
            android:exported="true" />

        <activity android:name=".components.expanableTextView.DemoActivity" />
    </application>

</manifest>