<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxl.componentgallery">

    <application>
        <activity
            android:name=".components.elemelist.ElemeListActivity1"
            android:exported="true" />
        <activity
            android:name=".components.elemelist.ElemeListActivity"
            android:exported="true" />
        <activity
            android:name=".components.morefunctions.MoreFunctionsActivity"
            android:exported="true" />
        <activity
            android:name=".components.like.LikeButtonActivity"
            android:exported="true" />
    </application>

</manifest>